#app {
    margin-top: 40px;
  }
  
  #progressInput {
    margin: 20px auto;
    width: 30%;
  }
  
  .circle-background,
  .circle-progress {
    fill: none;
  }
  
  .circle-background {
    stroke: #ddd;
  }
  
  .circle-progress {
    stroke: rgb(65, 33, 204);
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  .circle-text {
    font-size: 3em;
    font-weight: bold;
    fill: rgb(102, 99, 99);
  }